---
import {
    CAN_ADD_QQ_FRIEND_BY_PHONE,
    CAN_ADD_WEIXIN_FRIEND_BY_PHONE,
    EMAIL,
    PHONE,
    QQ_ID,
    WEIXIN_ID,
} from "../../CV";
import Tag from "./Tag.astro";
---

<div class="flex flex-col gap-1.5 items-stretch">
    <Tag key="邮箱" value={EMAIL}>
        <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
    </Tag>
    <Tag key="手机" value={PHONE}>
        <a href={`tel:${PHONE}`}>{PHONE}</a>
        {
            (CAN_ADD_WEIXIN_FRIEND_BY_PHONE || CAN_ADD_QQ_FRIEND_BY_PHONE) && (
                <small>
                    （{CAN_ADD_WEIXIN_FRIEND_BY_PHONE && "QQ"}
                    {CAN_ADD_QQ_FRIEND_BY_PHONE && "微信"}同号）
                </small>
            )
        }
    </Tag>
    {!CAN_ADD_QQ_FRIEND_BY_PHONE && <Tag key="QQ" value={QQ_ID} />}
    {!CAN_ADD_WEIXIN_FRIEND_BY_PHONE && <Tag key="微信号" value={WEIXIN_ID} />}
</div>
